body{
    font-size: 18px;
}

#breakingNews{
    float: none;
    width: auto;
}

#menu {
    float: none;
    width: 90%;
    margin: auto;
    text-align: center;
    max-width: fit-content;
}

#menu ul{
    font-size: 100%;
}

#currentLink{
    padding-left: 1.5em;
}

#content{
    margin-left: 0;
    padding: 1em;
    border: none;
}

#curiosita{
    margin-left: 0;
    padding: 1em;
    border: none;
}

#curiosity1{
    width : 100%;
}

#imageCake{
    width : 95%;
    padding: 0.5em;
}


footer .imgValidCode{
    width: 10%;
    padding: none;
}

footer p{
    width: 75%; 
}
